* {
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #114b5f;
}

h2 {
    color: #007ea7;
    border-bottom: 1px solid #46494c;
}

h3 {
    color: #1985a1;
}

body {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

footer {
    border-top: 1px solid #464946;
}

/* ---------LINKS--------- */

/* a:link {
    color: #00a8e8;
}

a:visited {
    color: #003459;
}

a:hover {
    color: #1a936f;
}

a:active {
    color: #1a936f;
} */

/* ---------HEADER--------- */

/* -----TITLE----- */

h1.title {
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* -----NAV----- */

#navigationBar {
    z-index: 500;
}

#menu {
    width: 100%;
    text-align: center;
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#menu a {
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,.9);
}

#menu li {
    width: 25%;
}

#menu a:hover {
    background: #114b5f;
    color: #88d498;
}

@media screen and (max-width: 700px) {
    .menu>li {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 300px) {
    .menu>li {
        flex-basis: 100%;
    }
}

ul#menu li:hover ul {
    display: flex;
}

/* change the background color */

.navbar-custom {
    background-color: #dcdcdd;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: #114b5f;
}

/* ---------MAIN--------- */

h2.info {
    font-weight: bold;
}

div.info {
    width: 100%;
}

.info img {
    max-width: 100%;
}

.image img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

@media screen and (min-width: 1000px) {
    .image {
        float: right;
    }
}

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.carousel-item>.carousel-caption>h3 {
    color: white;
}

/* #screenshots figure {
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin #c5c3c6 solid;
    margin: 0.5em;
    padding: 0.5em;
}

div.imgblock {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* -----GAME----- */

.game div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#gameblock img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -----Portfolio Images----- */
#portfolioImg {
	width: 100%;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}