* {
    font-family: 'Quicksand', sans-serif;
}

html {
    background: url("../images/watercolorFlower.jpeg") no-repeat center center fixed;
    background-size: cover;
    padding: 1vw;
}

body {
    margin: auto;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(223, 105, 101);
    border-bottom: 2px solid rgb(140, 162, 167);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

main p {
    text-align: center;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.781);
}